version: '3.6'
services:
  nexusapi:
    image: wtsparadigm/nexusapi:{{ version }}
    networks:
      - proxy
    deploy:
      labels:
        - traefik.enable=true
        - traefik.port=80
        - traefik.docker.network=proxy
        - "traefik.frontend.rule=PathPrefixStrip:/api/"
    environment:
      appsettings: /run/secrets/appsettings
    secrets:
      - appsettings
  nexusfrontend:
    image: wtsparadigm/nexusfrontend:{{ version }}
    networks:
      - proxy
    deploy:
      labels:
        - traefik.enable=true
        - traefik.port=5000
        - traefik.docker.network=proxy
        - "traefik.frontend.rule=PathPrefix:/"
    configs:
      - source: config.override
        target: /usr/src/app/build/config.override.json
networks:
  proxy:
    external: true
configs:
  config.override:
    file: config.override.json
secrets:
  appsettings:
    file: appsettings-compose.json
